<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Green</title>
	<!-- Bootstrap Grid Styleshe4et -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<header>
    <div class="container-flux">
        <div class="row">
            <div class="col-12">
                <div class="barra">
                    <button>Home</button>
                    <button>Productos</button>
                    <button>Bolsones</button>
                    <button>Carrito</button>
                    <input type="text" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <section>
            <div class="banner"><h3>$00.00</h3></div>

            <article class="art2">
                <h1>NOMBRE DE PRODUCTO</h1>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex reiciendis accusantium harum debitis totam unde dolorum officia praesentium ipsum accusamus quos sunt quasi dolorem necessitatibus, voluptates laboriosam magnam. Labore, veniam?</p>
                <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
            </article>
            <article class="art3">
                <h4>Inicio/Productos/Detalles</h4>
                <img src="../public/images/manzanas.jpg" alt="imagen">

            </article>
        </section>         
    </div>
</body>
</html>