<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main-home">
        <div class="titulos">
            <img src="./images/logo-green-sin-fondo.png" alt="Logo">
            <h2 style="color: whitesmoke; font:bold;">Trabajamos con productos organicos</h2>
            <button type="button" class="btn btn-outline-success"><a href="/users/login" style="text-decoration:none; color: whitesmoke;">Ingresar con tu usuario</a></button>
            <button type="button" class="btn btn-outline-success"><a href="/users/register" style="text-decoration:none; color: whitesmoke;">Registrate</a></button>
        </div>
    </main>
    <br>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>
</body>
</html>