<!DOCTYPE html>
<html>
        <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <div class="titulos">
                    <h1><strong>GREEN</strong></h1>
                    <h3>Trabajamos con productos organicos</h3>
                    <button><a href="/users/login">Ingresar con tu usuario</a></button>
                    <button><a href="/users/register">Registrate</a></button>
            </div>
        </main>
        <hr>
        <%- include('partials/footer.ejs') %>
    

        
    </body>
</html>