/*CSS HOME*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-header{
    background-color: #008000;
    height: 70px;
    padding: 10px;
}
.logo img{
    height: 30px;
    width: 50px;
    float: left;
}
.barra{
    background-color: whitesmoke; 
    justify-content: flex-end;
    display: flex;
    height: 100%;
}
.user-badge {
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #008000;
    height: 50%;
    color:white;
    padding:2px
}

.user-badge .user-image {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.user-badge .user-name {
    margin: 0 .5rem;
}
.menu{
    position: relative;
    top: 22%;
    float: right;
}
.menu a{
    text-decoration: none;
    color: black;
}
.pagina-actual{
    background-color: rgb(226, 216, 216);
    padding: 20px 10px;
}
.main-header nav ul li{
    position: relative;
    float: left;
    list-style-type: none;
    padding: 5px;
}

.main-home{
    height: 600px;
    color:black;
    text-align: center;
    background-image: url("../images/background-home.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.titulos{
    font-size: larger;
    position: relative;
    top: 15%;
}
h3{
    padding-bottom: 20px;
    padding-top: 20px;
}
.contenedor-padre{
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.mapa{
    width:400px;
    height:auto;
}
.texto-dire{
    width: 25%;
    color: white;
    padding-left: 10px;
    
}
.contacto{
    width: 25%;
    color: white;
}
.contacto ul li{
    list-style-type: none;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: center;
}
.contacto a{
    text-decoration: none;
    color: white;
    
}

/* FIN CSS Home*/


/* CSS detalle-productos*/

body{
    width: 100%;
}
.container-fluid{
    padding: 0;
}
section{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}
section.row{
    margin: 0;
}
article{
    width: 50%;
    background: white;
    margin-bottom: 30px;
    align-self: stretch;
    
}
article h1{
    margin: 5%;
}
article h4{
    margin: 6% 3%;
}

article img{
    width: 90%;
    border-radius: 10%;
}
article p{
    width: 50%;
    margin: 10% 5%;
}
article button{
    margin-left: 50%;
}
.productos{
    width: 100%;
    background-color: #008000;
    justify-content: flex-end;
    display: flex;

}
#art2{
    align-self: stretch;
}
/* FIN CSS detalle-productos*/



/* CSS carrito*/
.encabezado{
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    font-size: 30px;
}

.compras{
    display: block;
    width: 50%;
    
}

.producto{
    display: block;
    width:70%;
    background-color: lightgrey;
}

.photo-container{
    padding: 10px;
    position: relative;
    float: left;
}
.photo{
    border-radius: 10%;
}
.descripcion{
    position: relative;
    float: left;
    text-align: left;
    padding: 10px;
    top: 22%;
}


.descripcion ul li{
    list-style-type: none;
}

.totales{
    display: block;
    width: 50%;
    position: relative;
    float: right;
    text-align: center;
    padding: 50px;
    background-color: gainsboro;
}
.total-final{
    padding: 20px;
    background-color: rgb(121, 155, 121);
    font-weight: bold;
}
.pedido{
    padding: 10px;
}
.calendario{
    padding: 10px;
}
.boton-comprar{
    padding: 10px;
}
/* FIN CSS carrito*/

/* CSS formulario de registro*/
.form-register{
    width: 50%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    background: whitesmoke;
    position: relative;
    left: 25%;
   
}

/* CSS formulario de login*/
.form-login{
    width: 50%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    background: whitesmoke;
    position: relative;
    left: 25%;
    top: 40px;
   
}

/* CSS formulario de perfil*/
.form-perfil{
    width: 50%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    background: whitesmoke;
    position: relative;
    left: 25%;
    top: 20px;
   
}

/* CSS bolsones y producto*/

.vip-products{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto{
    width: 30%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(189, 183, 183);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* FIN CSS bolsones y producto*/